body {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 0px;
    margin: 0px;
    background-color: #ECEFF1;
    color: #303030;
}

#content {
    width: 80%;
    max-width: 1000px;
    min-width: 700px;
    margin: 0px auto;
    padding: 20px;
    clear: both;
}

.card {
    padding: 20px 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #FFFFFF;
    margin: 20px auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px;
}

p {
    margin: 0px;
}

#header {
    margin: 0px auto;
}

#header a {
    text-decoration: none;
    font-weight: bold;
    color: #303030;
}

#header a:hover {
    text-decoration: underline;
    color: #303030;
}

#header p {
    margin: 5px 10px;
}

#picture {
    width: 240px;
    float: right;
}

#aboutme {
    text-align: justify;
}

.project h3 {
    text-align: left;
}

.project p {
    text-align: justify;
}

#navigation {
    width: 368px;
    margin: 20px auto;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #2196F3; 
}

#navigation a {
    background-color: #2196F3; 
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    width: 100px;
    margin: 0px;
}

#navigation a.active {
    background-color: #1976D2;
}

@keyframes linkhover{
  from {background-color: #2196F3}
  to {background-color: #1976D2}
}

#navigation a:hover{
    color: white;
    background-color: #1976D2;
    animation: linkhover;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

@keyframes buttonhover{
  from {background-color: #424242}
  to {background-color: #212121}
}

footer a:hover {
    color: white;
    background-color: #212121;
    animation: linkhover;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

footer a {
    background-color: #424242; 
    display: inline-block;
    text-decoration: none;
    margin: 10px 5px;
    text-align: center;
    color: white;
    padding: 5px;
    width: 75px;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (max-width: 400px) {
    #content {
        width: calc(100% - 20px);
    }

    #header {
        width: 300px;
    }

    #header div {
        text-align: center;
        float: none;
    }
}