body{
    width: 60%;
    margin: 20px auto;
    font-family: 'Roboto Slab', Georgia, serif;
}

h1, h2 {
    margin-bottom: 10px;
}
a {
    color: black;
}

#name, #contact {
    text-align: center;
}

.bold {
    font-weight: bold;
}